/* = = = = = = = = = = = = = =  responsive media query = = = = = = = = = = = = = =  */


/* title animations */
@media (min-width: 1366px) {
  .about .title::after{
    content: '';
    display: block;
    width: 2em;
    height: 0.2em;
    background-color: aqua;
    margin: auto 12.1em;
    border-radius: 0.5em;
    animation-name: grow;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes grow {
    from {width: 0;}
    to {width: 2em;}
  }
  
  .services .title::after{
    content: '';
    display: block;
    width: 2.5em;
    height: 0.2em;
    background-color: rgb(255, 123, 0);
    margin: auto 11.6em;
    border-radius: 0.5em;
    animation-name: grow1;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes grow1 {
    from {width: 0;}
    to {width: 2.5em;}
  }
  
  .skills .title::after{
    content: '';
    display: block;
    width: 2em;
    height: 0.2em;
    background-color: aqua;
    margin: auto 12.3em;
    border-radius: 0.5em;
    animation-name: grow2;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes grow2 {
    from {width: 0;}
    to {width: 2em;}
  }
  
  .teams .title::after{
    content: '';
    display: block;
    width: 2.5em;
    height: 0.2em;
    background-color: rgb(255, 123, 0);
    margin: auto 11.6em;
    border-radius: 0.5em;
    animation-name: grow3;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes grow3 {
    from {width: 0;}
    to {width: 2.5em;}
  }
  
  .contact .title::after{
    content: '';
    display: block;
    width: 2.3em;
    height: 0.2em;
    background-color: rgb(255, 123, 0);
    margin: auto 11.8em;
    border-radius: 0.5em;
    animation-name: grow4;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes grow4 {
    from {width: 0;}
    to {width: 2.3em;}
  }
  
}


/* Responsize sizing */
@media (max-width: 1104px) {
    .about .about-content .left img {
      height: 350px;
      width: 350px;
    }
  
    .main_section {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;
      height: 100vh;
      color: rgb(255, 255, 255);
      min-height: 500px;
      background: url("../images/bw-prof-pic.png");
      background-size: cover;
      background-repeat:no-repeat;
      background-attachment: fixed;
      background-position: center;
      font-family: "Kanit", sans-serif;
    }
  }
  
  @media (max-width: 991px) {
    .max-width {
      padding: 0 50px;
    }
  
    .main_section {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;
      height: 100vh;
      color: rgb(255, 255, 255);
      min-height: 500px;
      background: url("../images/bw-prof-pic.png");
      background-size: cover;
      background-repeat:no-repeat;
      background-attachment: fixed;
      background-position: center;
      font-family: "Kanit", sans-serif;
    }
  }
  
  @media (max-width: 947px) {
    .menu-btn {
      display: block;
      z-index: 999;
      color: rgb(255,123,0);
      text-shadow: 0.9px 0.9px 0px black;
    }
  
    .menu-btn i.active:before {
      content: "\f00d";
    }
  
    .navbar .menu {
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: #111;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
    }
  
    .navbar .menu.active {
      left: 0;
    }
  
    .navbar .menu li {
      display: block;
    }
  
    .navbar .menu li a {
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
    }
  
    .main_section .main_section-content .text-2 {
      font-size: 70px;
    }
  
    .main_section .main_section-content .text-3 {
      font-size: 35px;
    }
  
    .main_section .main_section-content a {
      font-size: 23px;
      padding: 10px 30px;
    }
  
    .max-width {
      max-width: 930px;
    }
  
    .about .about-content .column {
      width: 100%;
    }
  
    .about .about-content .left {
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
    }
  
    .about .about-content .right {
      flex: 100%;
    }
  
    .services .services_body .card {
      width: calc(50% - 10px);
      margin-bottom: 20px;
    }
  
    .skills .skills-content .column,
    .contact .contact-content .column {
      width: 100%;
      margin-bottom: 35px;
    }
  
    .main_section {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;
      height: 100vh;
      color: rgb(255, 255, 255);
      min-height: 500px;
      background: url("../images/bw-prof-pic.png");
      background-size: 1000px;
      background-repeat:no-repeat;
      background-attachment: fixed;
      background-position: center;
      font-family: "Kanit", sans-serif;
    }
  }
  
  @media (max-width: 690px) {
    .max-width {
      padding: 0 23px;
    }
  
    .main_section .main_section-content .text-2 {
      font-size: 60px;
    }
  
    .main_section .main_section-content .text-3 {
      font-size: 32px;
    }
  
    .main_section .main_section-content a {
      font-size: 20px;
    }
  
    .services .services_body .card {
      width: 100%;
    }
  
    .main_section {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;
      height: 100vh;
      color: rgb(255, 255, 255);
      min-height: 500px;
      background: url("../images/bw-prof-pic.png");
      background-size: 900px;
      background-repeat:no-repeat;
      background-attachment: fixed;
      background-position: left;
      font-family: "Kanit", sans-serif;
    }
  }
  
  @media (max-width: 500px) {
    .main_section .main_section-content .text-2 {
      font-size: 50px;
    }
  
    .main_section .main_section-content .text-3 {
      font-size: 27px;
    }
  
    .about .about-content .fill_part .text,
    .skills .skills-content .left .text {
      font-size: 19px;
    }
  
    .contact .fill_part form .fields {
      flex-direction: column;
    }
  
    .contact .fill_part form .name,
    .contact .fill_part form .email {
      margin: 0;
    }
  
    .right form .error-box {
      width: 150px;
    }
  
    .scroll_top {
      right: 15px;
      bottom: 15px;
      height: 38px;
      width: 35px;
      font-size: 23px;
      line-height: 38px;
    }
  
    .main_section {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(0, 0, 0);
      height: 100vh;
      color: rgb(255, 255, 255);
      min-height: 500px;
      background: url("../images/bw-prof-pic.png");
      background-size: cover;
      background-repeat:no-repeat;
      background-attachment: fixed;
      background-position: center;
      font-family: "Kanit", sans-serif;
    }

    .about .title::after{
      content: '';
      display: block;
      width: 0;
      height: 0;
      background-color: aqua;
      margin: auto 0;
      border-radius: 0;
      animation-name: grow;
      animation-timing-function: ease-in-out;
      animation-duration: 0s;
      animation-iteration-count: infinite;
    }
    
    @keyframes grow {
      from {width: 0;}
      to {width: 0;}
    }
  }